In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [2]:
df = pd.read_csv('space_launces.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16978 entries, 0 to 16977
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              16978 non-null  int64
 1   launch_datetime    16978 non-null  object
 2   rocket             16901 non-null  object
 3   rocket_state       16901 non-null  object
 4   flight_number      2748 non-null   object
 5   launch_site        16854 non-null  object
 6   launch_site_state  16975 non-null  object
 7   lsp                14865 non-null  object
 8   lsp_state          16439 non-null  object
 9   payload            10374 non-null  object
 10  payload_state      10843 non-null  object
 11  payload_perator    15502 non-null  object
 12  payload_orbit      16935 non-null  object
 13  payload_function   16654 non-null  object
 14  payload_decay      16848 non-null  object
 15  payload_outcome    16821 non-null  object
 16  year               16978 non-null  int64
 17  table_n            16978 non-null  int64
 18  flight_n           16978 non-null  int64
dtypes: int64(4), object(15)
memory usage: 2.5+ MB

In [3]:
df.head(30)

    index      launch_datetime                 rocket   rocket_state      flight_number                          launch_site launch_site_state             lsp      lsp_state       payload  payload_state                              payload_perator payload_orbit                                   payload_function payload_decay  payload_outcome  year  table_n  flight_n
0       0  1952-01-30 20:45:00       Aerobee RTV-A-1a  United States            USAF 21                        Holloman LC-A     United States    US Air Force  United States  Ionosphere 1            NaN                   AFCRC / University of Utah    Suborbital                                        Ionospheric    30 January   Launch failure  1952        1         1
1       0  1952-02-19 14:49:00       Aerobee RTV-A-1c  United States            USAF 22                        Holloman LC-A     United States    US Air Force  United States           NaN            NaN                   AFCRC / University of Utah    Suborbital                                            Airglow   19 February   Launch failure  1952        2         2
2       4  1952-02-19 17:00:00       Aerobee RTV-N-10  United States              NRL 7                    White Sands LC-35     United States         US Navy  United States           NaN            NaN                                          NRL    Suborbital                 Cosmic Radiation / Solar Radiation   19 February       Successful  1952        2         3
3       8  1952-02-29 14:40:00        Aerobee RTV-A-1  United States            USAF 23                        Holloman LC-A     United States    US Air Force  United States           NaN            NaN                   AFCRC / University of Utah    Suborbital                                            Airglow   29 February       Successful  1952        2         4
4       0  1952-04-22 17:28:00        Aerobee RTV-A-1  United States            USAF 24                        Holloman LC-A     United States    US Air Force  United States           NaN            NaN                    AFCRC / Boston University    Suborbital                                        Ionospheric      22 April       Successful  1952        3         5
5       4  1952-04-30 13:30:00       Aerobee RTV-N-10  United States              NRL 8                    White Sands LC-35     United States         US Navy  United States           NaN            NaN                                          NRL    Suborbital                 Cosmic Radiation / Solar Radiation      30 April       Successful  1952        3         6
6       0  1952-05-01 14:59:00       Aerobee RTV-N-10  United States              NRL 9                    White Sands LC-35     United States         US Navy  United States           NaN            NaN                                          NRL    Suborbital                 Cosmic Radiation / Solar Radiation         1 May       Successful  1952        4         7
7       4  1952-05-01 15:42:00        Aerobee RTV-A-1  United States            USAF 25                        Holloman LC-A     United States    US Air Force  United States           NaN            NaN           AFCRC / University of Rhode Island    Suborbital                                           Solar UV         1 May       Successful  1952        4         8
8       8  1952-05-05 13:44:00       Aerobee RTV-N-10  United States             NRL 10                    White Sands LC-35     United States         US Navy  United States           NaN            NaN                                          NRL    Suborbital                 Cosmic Radiation / Solar Radiation         5 May       Successful  1952        4         9
9      12  1952-05-15 01:15:00      Aerobee XASR-SC-1  United States              SC 23                    White Sands LC-35     United States         US Army  United States        Sphere  United States                SCEL / University of Michigan    Suborbital                                           Aeronomy        15 May       Successful  1952        4        10
10     16  1952-05-20 02:07:00      Aerobee XASR-SC-1  United States              SC 24                    White Sands LC-35     United States         US Army  United States      Grenades  United States                                        USASC    Suborbital                                           Aeronomy        20 May       Successful  1952        4        11
11     20  1952-05-20 16:06:00                    V-2   Nazi Germany  V-2 No. 59 / TF-2                    White Sands LC-33     United States         US Army  United States           NaN            NaN                SCEL / University of Michigan    Suborbital                             Aeronomy / Photography        20 May       Successful  1952        4        12
12     24  1952-05-21 15:15:00        Aerobee RTV-A-1  United States            USAF 26                        Holloman LC-A     United States    US Air Force  United States     Aeromed 3  United States         AFCRL / WADC Aero-Medical Laboratory    Suborbital                                         Biological        21 May       Successful  1952        4        13
13      0  1952-06-06 17:30:00  Viking (second model)  United States                NaN                    White Sands LC-33     United States         US Navy  United States      Viking 8  United States                                          NRL    Suborbital                                  Accidental launch        6 June   Launch failure  1952        5        14
14      4  1952-06-18 17:50:00        Aerobee RTV-A-1  United States            USAF 27                        Holloman LC-A     United States    US Air Force  United States           NaN            NaN                 AFCRC / University of Denver    Suborbital                                           Solar UV       18 June       Successful  1952        5        15
15      8  1952-06-30 14:32:00        Aerobee RTV-A-1  United States            USAF 28                        Holloman LC-A     United States    US Air Force  United States     Airglow 1  United States                                        AFCRC    Suborbital                                     Sky Brightness       30 June       Successful  1952        5        16
16      0  1952-08-08 00:00:00                    R-2   Soviet Union                NaN                         Kapustin Yar      Soviet Union           OKB-1   Soviet Union           NaN            NaN                                        OKB-1    Suborbital                                       Missile test      8 August              NaN  1952        6        17
17      4  1952-08-01 00:00:00                    R-2   Soviet Union                NaN                         Kapustin Yar      Soviet Union           OKB-1   Soviet Union           NaN            NaN                                        OKB-1    Suborbital                                       Missile test      Same day              NaN  1952        6        18
18      8  1952-08-01 00:00:00                    R-2   Soviet Union                NaN                         Kapustin Yar      Soviet Union           OKB-1   Soviet Union           NaN            NaN                                        OKB-1    Suborbital                                       Missile test      Same day              NaN  1952        6        19
19     12  1952-08-01 00:00:00                    R-2   Soviet Union                NaN                         Kapustin Yar      Soviet Union           OKB-1   Soviet Union           NaN            NaN                                        OKB-1    Suborbital                                       Missile test      Same day              NaN  1952        6        20
20     16  1952-08-01 00:00:00                    R-2   Soviet Union                NaN                         Kapustin Yar      Soviet Union           OKB-1   Soviet Union           NaN            NaN                                        OKB-1    Suborbital                                       Missile test      Same day              NaN  1952        6        21
21     20  1952-08-01 00:00:00                    R-2   Soviet Union                NaN                         Kapustin Yar      Soviet Union           OKB-1   Soviet Union           NaN            NaN                                        OKB-1    Suborbital                                       Missile test      Same day              NaN  1952        6        22
22     24  1952-08-01 00:00:00                    R-2   Soviet Union                NaN                         Kapustin Yar      Soviet Union           OKB-1   Soviet Union           NaN            NaN                                        OKB-1    Suborbital                                       Missile test      Same day              NaN  1952        6        23
23     28  1952-08-01 00:00:00                    R-2   Soviet Union                NaN                         Kapustin Yar      Soviet Union           OKB-1   Soviet Union           NaN            NaN                                        OKB-1    Suborbital                                       Missile test      Same day              NaN  1952        6        24
24     32  1952-08-20 00:00:00                    R-1   Soviet Union                NaN                         Kapustin Yar      Soviet Union           OKB-1   Soviet Union           NaN            NaN                                        OKB-1    Suborbital                                       Missile test     20 August       Successful  1952        6        25
25     35  1952-08-21 00:00:00                    R-1   Soviet Union                NaN                         Kapustin Yar      Soviet Union           OKB-1   Soviet Union           NaN            NaN                                        OKB-1    Suborbital                                       Missile test     21 August       Successful  1952        6        26
26     38  1952-08-21 06:25:00         Deacon rockoon  United States              SUI 1           USCGC Eastwind, Kane Basin     United States  US Coast Guard  United States           NaN            NaN                           University of Iowa    Suborbital                                   Cosmic Radiation     21 August  Partial failure  1952        6        27
27     42  1952-08-22 07:33:00                    V-2   Nazi Germany               TF-3                    White Sands LC-33     United States         US Army  United States           NaN            NaN  NRL / AFCRC / National Institutes of Health    Suborbital  Aeronomy / Cosmic Radiation / Solar X-Ray / Ma...     22 August       Successful  1952        6        28
28     46  1952-08-24 03:34:00         Deacon rockoon  United States              SUI 2  USCGC Eastwind, northern Baffin Bay     United States  US Coast Guard  United States           NaN            NaN                           University of Iowa    Suborbital                                   Cosmic Radiation     24 August  Partial failure  1952        6        29
29     50  1952-08-25 00:00:00                    R-1   Soviet Union                NaN                         Kapustin Yar      Soviet Union           OKB-1   Soviet Union           NaN            NaN                                        OKB-1    Suborbital                                       Missile test     25 August       Successful  1952        6        30

In [4]:
df[df['rocket'] == 'Viking (second model)']

     index      launch_datetime                 rocket   rocket_state flight_number            launch_site launch_site_state      lsp      lsp_state        payload  payload_state payload_perator payload_orbit                                  payload_function payload_decay payload_outcome  year  table_n  flight_n
13       0  1952-06-06 17:30:00  Viking (second model)  United States           NaN      White Sands LC-33     United States  US Navy  United States       Viking 8  United States             NRL    Suborbital                                 Accidental launch        6 June  Launch failure  1952        5        14
55       8  1952-12-15 21:38:00  Viking (second model)  United States           NaN      White Sands LC-33     United States  US Navy  United States       Viking 9  United States             NRL    Suborbital  Solar Radiation / Cosmic Radiation / Photography   15 December      Successful  1952       10        56
78       4  1953-06-30 00:00:00  Viking (second model)  United States           NaN      White Sands LC-33     United States  US Navy  United States      Viking 10  United States             NRL    Suborbital                            Aeronomy / Ionospheric       30 June  Launch Failure  1953        5        79
171     52  1954-05-07 17:00:00  Viking (second model)  United States           NaN      White Sands LC-33     United States  US Navy  United States      Viking 10  United States             NRL    Suborbital                            Ionospheric / Aeronomy         7 May      Successful  1954        4       172
174     63  1954-05-24 17:00:00  Viking (second model)  United States           NaN      White Sands LC-33     United States  US Navy  United States      Viking 11  United States             NRL    Suborbital                            REV test / Photography        24 May      Successful  1954        4       175
256      6  1955-02-04 21:55:00  Viking (second model)  United States           NaN      White Sands LC-33     United States  US Navy  United States      Viking 12  United States             NRL    Suborbital                 REV test / Photography / Aeronomy    4 February      Successful  1955        2       257
535     14  1956-12-08 06:03:00  Viking (second model)  United States           NaN  Cape Canaveral LC-18A     United States  US Navy  United States  Vanguard TV-0  United States             NRL    Suborbital                                       Test flight    8 December      Successful  1956       12       536
578      0  1957-05-01 06:29:00  Viking (second model)  United States           NaN  Cape Canaveral LC-18A     United States  US Navy  United States  Vanguard TV-1  United States             NRL    Suborbital                         Vanguard third stage test         1 May      Successful  1957        6       579

In [5]:
df['rocket'] = df['rocket'].str.strip('/ ')

df.groupby('rocket')['flight_n'].nunique().sort_values(ascending=False).reset_index().head(30)

                   rocket  flight_n
0                 Soyuz-U       407
1              Nike-Cajun       397
2              R-12 Dvina       363
3             Nike-Apache       336
4          Black Brant IX       243
5        Aerobee-150 (Hi)       239
6        Falcon 9 Block 5       228
7               Kosmos-3M       194
8                 Voskhod       140
9       UGM-27 Polaris A2       139
10                    R-2       136
11                    R-1       105
12      MGM-31 Pershing I       104
13           SM-65D Atlas       104
14                  R-16U        98
15   LGM-30B Minuteman IB        96
16      UGM-27 Polaris A1        95
17     UGM-133 Trident II        86
18          Long March 2D        83
19           Ariane 5 ECA        75
20               Nike-Asp        73
21         Deacon Rockoon        70
22          Proton-K/DM-2        70
23      UGM-27 Polaris A3        68
24          Terrier-Orion        64
25           Loki Rockoon        63
26              Martlet 2        63
27            Nike-Zeus 3        63
28              Molniya-M        62
29  LGM-30G Minuteman III        62

In [6]:
df.groupby('rocket_state')['flight_n'].nunique().sort_values(ascending=False).reset_index()

      rocket_state  flight_n
0    United States      6172
1     Soviet Union      2685
2           Russia      1075
3            China       636
4           Canada       505
5           France       254
6            India       226
7            Japan       226
8   United Kingdom       222
9   European Union       164
10         Ukraine       132
11          Europe       118
12            Iran       100
13          Brazil        76
14     North Korea        60
15          Israel        42
16        Pakistan        37
17            Iraq        33
18    East Germany        21
19     South Korea        19
20       Australia        14
21          Taiwan        11
22           Yemen        11
23     Netherlands         6
24       Argentina         6
25          Turkey         4
26         Germany         4
27          Sweden         3
28    Nazi Germany         3
29           Spain         2
30        Slovenia         1
31          Norway         1
32     New Zealand         1
33         Lebanon         1
34    West Germany         1
35    ABM-1 Galosh         1

In [7]:
filt = df['rocket_state'] == 'ABM-1 Galosh'
df[filt]

       index      launch_datetime  rocket  rocket_state flight_number  launch_site launch_site_state                                lsp lsp_state payload payload_state payload_perator payload_orbit payload_function    payload_decay payload_outcome  year  table_n  flight_n
10545    459  1999-11-01 00:00:00  A-350R  ABM-1 Galosh           NaN  Sary Shagan        Kazakhstan  PRO Противоракетная оборона (ПРО)       NaN     NaN           NaN             NaN    Suborbital     Missile test  Within one hour      Successful  1999        1      9178

In [8]:
df.loc[filt, 'rocket_state'] = 'Russia'

In [9]:
df.groupby('launch_site')['flight_n'].nunique().sort_values(ascending=False).reset_index().head(30)

              launch_site  flight_n
0            Kapustin Yar       958
1          Wallops Island       520
2       Baikonur Site 1/5       374
3             White Sands       267
4                Plesetsk       231
5               Churchill       222
6       White Sands LC-35       212
7      Baikonur Site 31/6       197
8   Cape Canaveral SLC-40       176
9                   Eglin       168
10           Woomera LA-2       164
11               Baikonur       157
12         Kennedy LC-39A       157
13   Baikonur Site 200/39       130
14                Esrange       125
15           Kourou ELA-3       117
16           Kourou ELA-2       116
17      White Sands LC-36       105
18  Cape Canaveral LC-17A       102
19     Plesetsk Site 43/4        97
20          Barking Sands        95
21                 Andøya        95
22           Xichang LC-2        90
23          Holloman LC-A        89
24     Plesetsk Site 43/3        89
25  Cape Canaveral SLC-41        89
26          Jiuquan SLS-2        88
27      Vandenberg SLC-4E        88
28  Cape Canaveral LC-17B        87
29             Poker Flat        86

In [10]:
df.groupby('launch_site_state')['flight_n'].nunique().sort_values(ascending=False).reset_index()

                                    launch_site_state  flight_n
0                                       United States      5865
1                                        Soviet Union      2767
2                                               China       636
3                                          Kazakhstan       589
4                                              Russia       544
5                                              France       426
6                                              Canada       304
7                                           Australia       252
8                                               India       239
9                                               Japan       224
10                                             Sweden       163
11                                             Norway       155
12                                            Algeria       103
13                                               Iran       100
14                                           Barbados        67
15                                        North Korea        58
16                                        New Zealand        45
17                                               Iraq        45
18                                           Pakistan        44
19                                             Brazil        43
20                                             Israel        39
21                                              Italy        39
22                                   Marshall Islands        33
23                                     United Kingdom        32
24                                        South Korea        25
25                                          Argentina        21
26                                              Yemen        11
27                                             Taiwan        10
28                                              Spain         9
29                                        Puerto Rico         8
30                                              Syria         6
31             Trust Territory of the Pacific Islands         6
32                                        Netherlands         4
33                                             Turkey         4
34                               C-17 Globemaster III         4
35                                               Guam         3
36                                            Iceland         2
37                              Hotel class submarine         2
38                                            Ukraine         2
39                                   Tranquility Base         1
40                                     United Nations         1
41                                     Taurus-Littrow         1
42  /w/index.phptitle=Terra Apollonius&action=edit...         1
43                                    Ocean of Storms         1
44                                   Mons R%C3%BCmker         1
45                                  Mare Fecunditatis         1
46                                       Mare Crisium         1
47                                              Libya         1
48                                          Indonesia         1
49                     Hadley%E2%80%93Apennine (Moon)         1
50                                            Germany         1
51                                          Fra Mauro         1
52                                             Europe         1
53                                      El Arenosillo         1
54                                Descartes Highlands         1
55                                Anna Plains Station         1
56                                            Lebanon         1

In [11]:
rare_states = df.groupby('launch_site_state')['flight_n'].nunique().sort_values(ascending=False).reset_index()
rare_states = rare_states[rare_states['flight_n'] == 1]

filt = (df['launch_site_state'].isin(['C-17 Globemaster III', 'Hotel class submarine']) |
       df['launch_site_state'].isin(rare_states['launch_site_state']))
        
df[filt]

       index      launch_datetime                        rocket    rocket_state flight_number                                    launch_site                                  launch_site_state                     lsp      lsp_state                 payload  payload_state         payload_perator        payload_orbit      payload_function      payload_decay payload_outcome  year  table_n  flight_n
2581     181  1962-02-24 00:00:00                          R-21    Soviet Union           NaN                         Project 658 Submarine,                              Hotel class submarine                    RVSN   Soviet Union                     NaN            NaN                    RVSN           Suborbital          Missile test        24 February      Successful  1962        2      2537
3152     496  1962-11-21 00:00:00                      Ceadar-3         Lebanon           NaN                                         Dbayeh                                            Lebanon  Lebanese space program        Lebanon                     NaN            NaN  Lebanese space program           Suborbital                   NaN        21 November      Successful  1962        8      3077
3514     739  1963-05-02 15:03:00                     Seliger 3         Germany           NaN                                       Cuxhaven                                            Germany                     DRG        Germany                     NaN            NaN                 Seliger           Suborbital           Test flight              2 May      Successful  1963        2      3417
4027    1308  1963-01-01 00:00:00                          R-21    Soviet Union           NaN                         Project 658 Submarine,                              Hotel class submarine                    RVSN   Soviet Union                     NaN            NaN                    RVSN           Suborbital          Missile test            Unknown      Successful  1963        4      3909
5554     250  1965-08-07 00:00:00                       Kappa-8           Japan           NaN                                    Pameungpeuk                                          Indonesia                    ISAS          Japan                     NaN            NaN                    ISAS           Suborbital              Aeronomy           7 August      Successful  1965        6      5320
6691       0  1969-07-21 17:54:00     Lunar Module Ascent Stage   United States           NaN  Tranquility Base, Mare Tranquillitatis (Luna)                                   Tranquility Base                    NASA  United States            Apollo 11 LM  United States                    NASA  Selenocentric (CSM)                Crewed           In orbit      Successful  1969        3      6286
6692       4  1969-11-20 14:25:47     Lunar Module Ascent Stage   United States           NaN                         Ocean of Storms (Luna)                                    Ocean of Storms                    NASA  United States            Apollo 12 LM  United States                    NASA  Selenocentric (CSM)                Crewed        20 November      Successful  1969        3      6287
6729       0  1970-09-21 07:43:00          Luna 16 Ascent stage    Soviet Union           NaN                       Mare Fecunditatis (Luna)                                  Mare Fecunditatis                     NaN            NaN  Luna 16 Return capsule   Soviet Union                     NaN    Highly elliptical         Sample return  24 September 1970      Successful  1970        2      6320
6938       0  1971-02-06 18:48:00     Lunar Module Ascent Stage   United States           NaN                               Fra Mauro (Luna)                                          Fra Mauro                    NASA  United States            Apollo 14 LM  United States                    NASA  Selenocentric (CSM)                Crewed   7 February 00:46      Successful  1971        2      6475
6939       4  1971-08-02 17:11:00     Lunar Module Ascent Stage   United States           NaN                         Hadley-Apennine (Luna)                     Hadley%E2%80%93Apennine (Moon)                    NASA  United States            Apollo 15 LM  United States                    NASA  Selenocentric (CSM)                Crewed     3 August 03:04      Successful  1971        2      6476
6940       0  1972-02-22 22:58:00          Luna 20 Ascent stage    Soviet Union           NaN                        Terra Apollonius (Luna)  /w/index.phptitle=Terra Apollonius&action=edit...                     NaN            NaN  Luna 16 Return capsule   Soviet Union                     NaN    Highly elliptical         Sample return        25 February      Successful  1972        1      6477
6941       4  1972-04-24 01:25:47     Lunar Module Ascent Stage   United States           NaN                     Descartes Highlands (Luna)                                Descartes Highlands                    NASA  United States            Apollo 16 LM  United States                    NASA  Selenocentric (CSM)                Crewed            Unknown      Successful  1972        1      6478
6942       8  1972-12-14 22:54:37     Lunar Module Ascent Stage   United States           NaN                          Taurus-Littrow (Luna)                                     Taurus-Littrow                    NASA  United States            Apollo 17 LM  United States                    NASA  Selenocentric (CSM)                Crewed  15 December 06:50      Successful  1972        1      6479
7091       7  1974-01-12 19:12:00                       Skylark  United Kingdom           NaN                                  El Arenosillo                                      El Arenosillo                    NASA           NASA                 H-GR-58        Germany                   DFVLR          Sub-orbital             Astronomy        12 Jan 1974      Successful  1974        1      6599
7162       0  1976-08-19 05:25:00          Luna 24 Ascent stage    Soviet Union           NaN                            Mare Crisium (Luna)                                       Mare Crisium                     NaN            NaN  Luna 24 Return capsule   Soviet Union                     NaN    Highly elliptical         Sample return     22 August 1976      Successful  1976        2      6663
7288     449  1979-12-24 17:14:38                      Ariane 1          Europe           NaN                                   Kourou ELA-1                                             Europe                     ESA         Europe                   CAT-1         Europe                     ESA            Low Earth            Technology   27 November 1989      Successful  1979        1      6785
7486       8  1981-01-10 18:22:00                 Nike-Tomahawk   United States           NaN                                  Siple Station                                     United Nations                    NASA  United States                     NaN  United States                    NASA           Suborbital  Ionospheric research         10 January      Successful  1981        1      6898
7533     190  1981-03-01 09:20:00                         OTRAG    West Germany           NaN                                     Seba Oasis                                              Libya                   OTRAG   West Germany                     NaN   West Germany                   OTRAG           Suborbital           Test flight            1 March      Successful  1981        1      6945
10014    440  1997-09-02 07:00:00                 Terrier-Orion   United States           NaN                                    Anna Plains                                Anna Plains Station                    NASA  United States                DUNDEE 1  United States                    NASA           Suborbital                Target        2 September      Successful  1997        1      8837
11986    126  2009-07-22 03:40:00                         LRALT   United States           NaN            C-17 Globemaster III, Pacific Ocean                               C-17 Globemaster III                     MDA  United States                     NaN            NaN                MDA/IMDO           Suborbital            ABM target            22 July      Successful  2009        2     10188
12017    242  2009-12-11 00:00:00                         LRALT   United States        FTT-11            C-17 Globemaster III, Pacific Ocean                               C-17 Globemaster III                     MDA  United States                     NaN            NaN                MDA/IMDO           Suborbital            ABM target        11 December  Launch failure  2009        2     10219
12652    195  2012-10-25 00:00:00  Long Range Air Launch Target   United States        FTI-01            C-17 Globemaster III, Pacific Ocean                               C-17 Globemaster III                     MDA  United States                     NaN            NaN                MDA/IMDO           Suborbital            ABM target         25 October      Successful  2012        2     10672
12929    187  2013-09-10 00:00:00                         eMRBM   United States           NaN            C-17 Globemaster III, Pacific Ocean                               C-17 Globemaster III                     MDA  United States                     NaN            NaN                MDA/IMDO           Suborbital            ABM target       10 September      Successful  2013        2     10816
15100      0  2020-12-03 15:10:00      Chang'e 5 ascent vehicle           China           NaN           Chang'e 5 descent stage, Mons Rümker                                   Mons R%C3%BCmker                    CNSA           CNSA       Lunar soil sample          China                    CNSA  Selenocentric orbit         Sample return    7 December 2020      Successful  2020        3     12019

In [12]:
filt = (
    df['launch_site'].fillna('').str.contains(r'(Luna)', regex=False)
    | df['payload'].fillna('').str.contains('Lunar soil sample')
       )

df['is_luna'] = 0
df.loc[filt, 'is_luna'] = 1

df.loc[filt, 'launch_site_state'] = np.nan

filt = df['launch_site_state'].isin(['C-17 Globemaster III', 'Hotel class submarine', 'El Arenosillo']) 
df.loc[filt, 'launch_site_state'] = np.nan

filt = df['launch_site'] == 'Anna Plains'
df.loc[filt, 'launch_site_state'] = 'United States'

df.groupby('launch_site_state')['flight_n'].nunique().sort_values(ascending=False).reset_index()

                         launch_site_state  flight_n
0                            United States      5869
1                             Soviet Union      2767
2                                    China       636
3                               Kazakhstan       589
4                                   Russia       544
5                                   France       426
6                                   Canada       304
7                                Australia       252
8                                    India       239
9                                    Japan       224
10                                  Sweden       163
11                                  Norway       155
12                                 Algeria       103
13                                    Iran       100
14                                Barbados        67
15                             North Korea        58
16                                    Iraq        45
17                             New Zealand        45
18                                Pakistan        44
19                                  Brazil        43
20                                  Israel        39
21                                   Italy        39
22                        Marshall Islands        33
23                          United Kingdom        32
24                             South Korea        25
25                               Argentina        21
26                                   Yemen        11
27                                  Taiwan        10
28                                   Spain         9
29                             Puerto Rico         8
30                                   Syria         6
31  Trust Territory of the Pacific Islands         6
32                             Netherlands         4
33                                  Turkey         4
34                                    Guam         3
35                                 Iceland         2
36                                 Ukraine         2
37                                 Lebanon         1
38                               Indonesia         1
39                                 Germany         1
40                          United Nations         1
41                                  Europe         1
42                                   Libya         1

In [13]:
df.groupby('lsp')['flight_n'].nunique().sort_values(ascending=False).reset_index()

                                             lsp  flight_n
0                                   US Air Force      1578
1                                           NASA      1362
2                                           RVSN       896
3                                        US Navy       870
4                                            MVS       462
5                                          OKB-1       354
6                                           CASC       334
7                                        US Army       325
8                                         SpaceX       302
9                                    Arianespace       301
10                                           VKS       222
11                         Strategic Air Command       176
12                                     Roscosmos       155
13                 International Launch Services       147
14                                          CNES       140
15                        United Launch Alliance       123
16                         United Space Alliance       122
17                                          ISRO       114
18                                           RAE       102
19                                     Roskosmos       100
20                                           VMF        97
21                                    Boeing IDS        96
22                              Orbital Sciences        94
23                                       RVSN RF        92
24                                          ISAS        90
25                                        Sandia        90
26                                           MDA        89
27                                           WRE        62
28                                       DND/DoD        60
29                                            AN        60
30                                          DRDO        58
31                                          IRGC        57
32                                          CNSA        55
33                               Lockheed Martin        50
34                             McDonnell Douglas        46
35                                           DLR        45
36                                           NRL        44
37                                          JAXA        44
38                                    Rocket Lab        43
39                                           PLA        43
40                                         ONERA        42
41                                       RAE/WRE        38
42                                     U.S. Navy        36
43                                    Sea Launch        36
44                                           ULA        35
45                                          CALT        35
46                                          DASA        34
47                                          IQAF        33
48                                           MHI        33
49                                         CARDE        30
50                                           NRC        30
51                             British Aerospace        28
52                                          ABMA        27
53                                       Starsem        26
54                                           ISA        25
55                                    EuroLaunch        25
56                                    Khrunichev        25
57                                          SAST        24
58                                U.S. Air Force        24
59                                        ExPace        24
60                                   Blue Origin        23
61                           KPA Strategic Force        23
62                                 ISC Kosmotras        22
63                               Royal Air Force        21
64                                         NASDA        21
65                                  Russian Navy        20
66                                           SSC        18
67                                        OKB-30        18
68                                        Andøya        18
69                                          NACA        18
70                                          ASFC        17
71                                   Indian Army        16
72                              Northrop Grumman        15
73                                  UP Aerospace        15
74                                US Coast Guard        15
75                           Ministry of Defence        15
76                                         CASDN        14
77                                           MOM        13
78                                         IDRDL        13
79                                           CRA        13
80                                           VKO        13
81                                           IAF        13
82                            United States Navy        13
83                              General Dynamics        12
84                                           AEB        12
85                                      Eurockot        11
86                                       Houthis        11
87                               Galactic Energy        11
88                               Virgin Galactic        11
89                         Arianespace / Starsem        11
90                          Space Transportation        11
91                                          ESRO        11
92                                    Royal Navy        10
93                               Martin Marietta        10
94                                          BMDO         9
95                       United States Air Force         9
96                                          KPNO         9
97                                          INPE         9
98                                          NSPO         9
99                                          NRCC         9
100                                   Mitsubishi         8
101                                    U.S. Army         8
102                                          KPA         8
103                                  Orbital ATK         8
104                                         NOTS         8
105                                      i-Space         8
106                            Bristol Aerospace         8
107                             Army of Pakistan         8
108                                         SDIO         7
109                                         USAF         7
110                    Interstellar Technologies         7
111                                  Indian Navy         7
112                   KPA Strategic Rocket Force         7
113                                         ELDO         7
114                                         NDRE         7
115                                        Astra         7
116                                        JMSDF         7
117                                Pakistan Army         7
118                                         ARPA         7
119                                          DGA         7
120                                          CRS         7
121                                          IAI         7
122                                         DSTO         7
123                                       MORABA         6
124                                         KARI         6
125                  Russian Ministry of Defense         6
126                         COSMOS International         6
127                                         LRBA         6
128                                          PRO         6
129                                        AFCRL         6
130                          T-Minus Engineering         6
131                                          TBD         6
132             University of Michigan / US Army         6
133                                  Land Launch         5
134                                        CONAE         5
135         Korean People's Army Strategic Force         5
136                                         CNIE         5
137                  Israel Aerospace Industries         5
138                                         CAST         5
139                            Israeli Air Force         5
140                                      MO SSSR         5
141                                 Virgin Orbit         5
142                                          AEC         5
143                           United States Army         5
144                       US Air Force / US Navy         5
145                  Mitsubishi Heavy Industries         5
146                                       NII-88         5
147                                         SMDC         5
148                         DGA/Marine nationale         5
149                  Russian Ministry of Defence         5
150                                        CASIC         5
151                                         NTNF         5
152                                         DRTE         4
153                                    DLR / SSC         4
154                                          NSA         4
155                                          IAE         4
156                                          PAF         4
157                                          RTG         4
158                                          BRL         4
159                                  Syrian Army         4
160                              U.S. Navy / MDA         4
161                                        AFIRI         4
162                                        AFGSC         4
163                                    WRE / RAE         4
164                                MORABA / SNSA         4
165                                        PLARF         4
166                               Exos Aerospace         4
167                                    LandSpace         4
168                           Indian Army / DRDO         4
169                                         INTA         4
170                                  French Navy         4
171                                      IAI/IDF         4
172                                         KCST         4
173                                          DoD         4
174                                     Lockheed         3
175               United States Military Academy         3
176                                     OneSpace         3
177  Air Force Air Proving Ground Command (AGPC)         3
178                            Perigee Aerospace         3
179                                    IAF / MDA         3
180                                         NNSA         3
181                                     Roketsan         3
182                                      Firefly         3
183                                          SRC         3
184                                          STA         3
185                            Scaled Composites         3
186                           University of Iowa         3
187                                   / Eurockot         3
188                            Khrunichev / KARI         3
189                                     NASA/RRL         3
190                                         NADA         3
191                                          ADD         3
192                                    NASA/NTNF         3
193                 Ministry of National Defense         3
194                                          SMC         2
195                                          SSI         2
196                                          IRG         2
197                                         DPRK         2
198                     MDA / United States Navy         2
199                                         FOST         2
200                                   Queensland         2
201                                         ERDL         2
202                                         SUPA         2
203                                        Matra         2
204                               Armée de Terre         2
205                              MDA / U.S. Navy         2
206                                 Andøya Space         2
207                                      SSC/DLR         2
208                       Republic of Korea Navy         2
209                                   NACA / NSA         2
210                            US Air Force/NASA         2
211               Ministry of Defence of Ukraine         2
212                                    CAS Space         2
213                                  Rosgidromet         2
214                            US Air Force/ERDA         2
215                             Indian Army/DRDO         2
216                                     Dassault         2
217                    USC Rocket Propulsion Lab         2
218                                  Astra Space         2
219                             Syrian Air Force         2
220                                         IGRC         2
221                       Space Data Corporation         2
222                                          DMA         2
223                                    DLR / ESA         2
224                    Swedish Space Corporation         2
225                                        AN RF         2
226                                        NASA/         2
227                                         PLAN         2
228                                 China Rocket         2
229                                      Skyrora         2
230                                          DNA         2
231                                          BAL         2
232                                          FAB         2
233                                         CSXT         2
234                                          CSA         2
235                                          ASI         2
236                                   NACA/AFCRL         2
237                                Kip Daugirdas         2
238                             PLA Rocket Force         2
239                                          ILS         2
240                                      TiSPACE         1
241                                    BMDO/NASA         1
242                                U.S Air Force         1
243                                          THK         1
244                                          BAC         1
245                               Wallops Island         1
246                             Indian Air Force         1
247                                          FFI         1
248                       Yuzhnoye Design Bureau         1
249                                          IDF         1
250                       UK Ministry of Defence         1
251                                      IRGC AF         1
252                                    VOX Space         1
253                              Huayi Spacetime         1
254                           GK Launch Services         1
255        University of Michigan / US Air Force         1
256                       University of Michigan         1
257      United States Army / United States Navy         1
258                                         IARI         1
259                                       Vought         1
260                                 United Start         1
261                                 Space Vector         1
262                             Akjuit Aerospace         1
263          US Missile Defense Agency/U.S. Navy         1
264                    US Missile Defense Agency         1
265                          Alliant Techsystems         1
266                                 US Air force         1
267                US Air Force/Orbital Sciences         1
268                         US Air Force Academy         1
269                                Firefly / ALS         1
270                                  Andøya/NASA         1
271               Andrej Vrbec and Denis Banovic         1
272                                          ABL         1
273                  Space Services Incorporated         1
274                          Space Services Inc.         1
275            PRO Противоракетная оборона (ПРО)         1
276                                          PRC         1
277                              OrbitalSciences         1
278                         Orbital Sciences/MDA         1
279                                      Orbital         1
280                                        OTRAG         1
281                                          ORS         1
282                                          CTA         1
283                                        DFVLR         1
284                       Lebanese space program         1
285                        Department of Defense         1
286                                        MATRA         1
287                                          MBB         1
288                                   DLR/Andøya         1
289                                   NPO Polyot         1
290                                      DLR/SSC         1
291                                      Delta V         1
292                                       NEZAJA         1
293                                       NCSIST         1
294                                   NASA AFCRL         1
295                                        NADSA         1
296                                         DRDL         1
297                       Missile Defense Agency         1
298                                          DRG         1
299                                          MEI         1
300                                     ELDO/RAE         1
301                                     ROK Navy         1
302                                          RSC         1
303                                          SAC         1
304                                Space Pioneer         1
305                 Soviet Interkosmos programme         1
306                     Sounding Rocket Services         1
307                            Skyroot Aerospace         1
308                Ballistic Research Laboratory         1
309                                       Boeing         1
310                                          SIS         1
311                                         SIED         1
312                                        SEREB         1
313                                    Innospace         1
314                          DSTO/U.S. Air Force         1
315                                     S7 Space         1
316                                         CNSC         1
317                        Integrated Test Range         1
318                              Evolution Space         1
319                International Launch services         1
320                                          ESA         1
321                                   Roskosmsos         1
322                                         CINE         1
323                                    Roskomsos         1
324                                       CITEFA         1
325                                        Japan         1
326                             Relativity Space         1
327                                          CNR         1
328                                         CAAC         1

In [14]:
df.groupby('rocket_state')['flight_n'].nunique().sort_values(ascending=False).reset_index()

      rocket_state  flight_n
0    United States      6172
1     Soviet Union      2685
2           Russia      1076
3            China       636
4           Canada       505
5           France       254
6            Japan       226
7            India       226
8   United Kingdom       222
9   European Union       164
10         Ukraine       132
11          Europe       118
12            Iran       100
13          Brazil        76
14     North Korea        60
15          Israel        42
16        Pakistan        37
17            Iraq        33
18    East Germany        21
19     South Korea        19
20       Australia        14
21          Taiwan        11
22           Yemen        11
23       Argentina         6
24     Netherlands         6
25          Turkey         4
26         Germany         4
27          Sweden         3
28    Nazi Germany         3
29           Spain         2
30        Slovenia         1
31          Norway         1
32     New Zealand         1
33         Lebanon         1
34    West Germany         1

In [15]:
europe = ['France', 'United Kingdom', 'European Union', 'Ukraine', 'East Germany', 'Netherlands', 'Germany',
          'Sweden', 'Nazi Germany', 'Spain', 'Slovenia', 'Norway', 'West Germany']

df['rocket_state_grouped'] = df['rocket_state'].fillna('Unknown')

df.loc[df['rocket_state'].isin(europe), 'rocket_state_grouped'] = 'Europe'

top_states = df.groupby('rocket_state_grouped')['flight_n'].nunique().sort_values(ascending=False).reset_index()

top_states = top_states[top_states['flight_n'] > 500]

df.loc[~df['rocket_state_grouped'].isin(top_states['rocket_state_grouped']), 'rocket_state_grouped'] = 'Other'

df.groupby('rocket_state_grouped')['flight_n'].nunique().sort_values(ascending=False).reset_index()

  rocket_state_grouped  flight_n
0        United States      6172
1         Soviet Union      2685
2               Russia      1076
3                Other       944
4               Europe       932
5                China       636
6               Canada       505

In [16]:
df[df['launch_datetime'] == '1965-01-07 03:50:00']

      index      launch_datetime       rocket   rocket_state flight_number     launch_site launch_site_state   lsp      lsp_state payload payload_state payload_perator payload_orbit payload_function payload_decay payload_outcome  year  table_n  flight_n  is_luna rocket_state_grouped
4980      1  1965-01-07 03:50:00  Nike-Apache  United States           NaN  Wallops Island     United States  NASA  United States     NaN           NaN            NASA    Suborbital         Aeronomy     7 January      Successful  1965        2      4787        0        United States

In [17]:
df.groupby('payload_orbit')['flight_n'].nunique().sort_values(ascending=False).reset_index()

                                         payload_orbit  flight_n
0                                           Suborbital      7657
1                                            Low Earth      2055
2                                       Geosynchronous       839
3                                      Low Earth (SSO)       399
4                                      Low Earth (ISS)       273
5                                         Medium Earth       204
6                                          Sub-orbital       172
7                                      Low Earth Orbit       163
8                                              Molniya       149
9                                  Intended: Low Earth       121
10                                     Low Earth (Mir)        90
11                                     Sun-synchronous        84
12                                       Geostationary        82
13                                        Heliocentric        65
14                                   Highly elliptical        47
15                                       Selenocentric        46
16                            Intended: Geosynchronous        24
17                              Intended: Medium Earth        24
18                                Low Earth (Salyut 7)        24
19                                Low Earth (Salyut 6)        23
20                                   Low Earth (Polar)        21
21                                          High Earth        21
22                                Low Earth (Columbia)        20
23                                         Areocentric        15
24      Current: Graveyard Operational: Geosynchronous        14
25                             Geosynchronous transfer        14
26                                                 LEO        13
27                                     Low Earth (TSS)        13
28                                Low Earth (Atlantis)        12
29                                                IGSO        11
30                Low Earth (81.3 degrees inclination)        11
31                              Intended: Heliocentric        11
32                               Low Earth (Discovery)        10
33          Intended: Heliocentric Achieved: Low Earth        10
34                                     Low Earth orbit         9
35                                              Tundra         8
36                               Low Earth (Endeavour)         8
37                         Intended: Highly elliptical         8
38                                                 GEO         7
39                              Low Earth (Challenger)         7
40                Low Earth (72.9 degrees inclination)         7
41                            Low Earth, docked to Mir         7
42                Low Earth (62.8 degrees inclination)         7
43                Low Earth (74.0 degrees inclination)         7
44                                                 SSO         7
45                                                 GTO         7
46                              Low Earth (retrograde)         6
47                                 Selenocentric (CSM)         6
48                Low Earth (81.2 degrees inclination)         6
49                                   Lunar Free-return         6
50                             Intended: Selenocentric         6
51                                  Planned: Low Earth         6
52                         Intended: Low Earth (Polar)         5
53                                     Low Earth (HST)         5
54                           Intended: Low Earth (SSO)         5
55     Intended: Geosynchronous Achieved: Medium Earth         5
56                                   Intended: Molniya         5
57       Current: Graveyard Operational: Geostationary         5
58                                      Lunar transfer         5
59                              Geostationary transfer         5
60                Low Earth (72.8 degrees inclination)         4
61     Intended: Highly elliptical Achieved: Low Earth         4
62                           Intended: Sun-synchronous         4
63                Low Earth (82.9 degrees inclination)         4
64                                   Low Earth (polar)         4
65                   Intended: Geosynchronous transfer         4
66          Intended: Areocentric Actual: Heliocentric         4
67                             High Earth (elliptical)         4
68      Operational: Geosynchronous Current: Graveyard         3
69                                TLI to lunar surface         3
70                           Sun-synchronous (A-train)         3
71                              TMI to Martian Surface         3
72                                        Sun–Earth L1         3
73                       LEO, inclination 74.0 degrees         3
74         Initial: Medium Earth Decayed to: Low Earth         3
75                Intended: Geosynchronous Actual: GTO         3
76                                    Transatmospheric         3
77                              Low Earth (Retrograde)         3
78                Low Earth (65.0 degrees inclination)         3
79                Low Earth (67.1 degrees inclination)         3
80                                        Sun–Earth L2         3
81       Operational: Geostationary Current: Graveyard         3
82                         Low Earth, docked to Skylab         3
83                              Low Earth (Tiangong-1)         3
84                         Low Earth (Sun-synchronous)         3
85                       LEO, inclination 65.8 degrees         3
86                                         Jovicentric         2
87                                  TMI to Areocentric         2
88                                Intended: Suborbital         2
89                       LEO, inclination 65.0 degrees         2
90                                                none         2
91            Intended: Molniya Achieved: Medium Earth         2
92               Intended: Molniya Achieved: Low Earth         2
93            Intended: Medium Earth Achieved: Unknown         2
94                       LEO, inclination 82.6 degrees         2
95                       LEO, inclination 82.9 degrees         2
96                       LEO, inclination 83.0 degrees         2
97                               Sun-Synchronous Orbit         2
98                Low Earth (50.7 degrees inclination)         2
99                Low Earth (62.7 degrees inclination)         2
100          Salyut 6 orbit (51.6 degrees inclination)         2
101                                              Lunar         2
102               Low Earth (83.0 degrees inclination)         2
103                                 Low Earth (Apollo)         2
104                               Low Earth (Salyut 4)         2
105                               Low Earth (Salyut 1)         2
106                                    Low Earth (STS)         2
107               Low Earth (51.6 degrees inclination)         2
108                                            unknown         2
109           Intended: High Earth Achieved: Low Earth         2
110            Deployed: Low Earth Final: Medium Earth         2
111          Intended: Areocentric Achieved: Low Earth         2
112                            Intended: Geostationary         2
113  Intended: Geosynchronous Actual: Geosynchronou...         2
114  Intended: Geosynchronous Achieved: Subsynchronous         2
115       Intended: Geosynchronous Achieved: Low Earth         2
116                          Intended: Low Earth (ISS)         2
117                     High Earth (High-eccentricity)         2
118  Intended: Geosynchronous Achieved: Geostationa...         2
119                   Intended: Low Earth (retrograde)         2
120                                                HEO         2
121                     Heliocentric to Galactocentric         2
122                                     Cytherocentric         2
123  Planned: Geosynchronous Actual: Geosynchronous...         1
124  Extremely Elliptical Orbit (72.9 degrees incli...         1
125  Extremely elliptical orbit (64.1 degrees incli...         1
126                                      Moon transfer         1
127                           Planned: Low Earth (ISS)         1
128  Extremely Elliptical Orbit (64.9 degrees incli...         1
129       Operational: Geosychronous Actual: Graveyard         1
130     Planned: Geosynchronous Achieved: Medium Earth         1
131  Extremely Elliptical Orbit (68 degrees inclina...         1
132                            Planned: Geosynchronous         1
133                              Planned: Heliocentric         1
134                                          Mercurian         1
135                                    Mercurian orbit         1
136           Intended: Medium Earth Actual: Low Earth         1
137                          Medium Earth (elliptical)         1
138                               Geosynchronous Earth         1
139                      Geosynchronous transfer orbit         1
140                           Low Earth / Medium Earth         1
141                               Geosynchronous Orbit         1
142              Low Earth Planned: Docked to Salyut 7         1
143        Geosynchronous Graveyard (after retirement)         1
144                            Low Earth to Suborbital         1
145                            Low Earth, Medium Earth         1
146                          Geosynchronous (intended)         1
147                               Medium Earth (Polar)         1
148                                    Low Lunar Orbit         1
149                               Geosynchronous (TBC)         1
150                                Geostationary orbit         1
151                         Lunar Orbit, Lunar Landing         1
152                       Lunar free-return trajectory         1
153                                     Galactocentric         1
154                                                GSO         1
155                                       Planned: MEO         1
156           Salyut 6 orbit(51.6 degrees inclination)         1
157                                     Retrograde LEO         1
158                                      Earth–Moon L2         1
159                                 Earth/Sun L1 point         1
160                        Earth-Sun L2 Lagrange Point         1
161                           Sun–Earth L2, Halo orbit         1
162                           Sun–Earth L2, halo orbit         1
163                                                TLI         1
164                                 Earth-Sun L1 point         1
165                                TMI (Martian flyby)         1
166                                  Earth-Sun L1 halo         1
167                        Earth-Sun L1 Lagrange Point         1
168                             TMI to Martian surface         1
169                       Transatmospheric Earth orbit         1
170                          Tundra/Quasi-Zenith Orbit         1
171           fractional LEO, inclination 50.6 degrees         1
172                                                 no         1
173                                          Cytherean         1
174                       Sun/Earth L1 to Heliocentric         1
175                          Earth–Moon L2, halo orbit         1
176  Extremely Elliptical Orbit (64.7 degrees incli...         1
177                              Elliptical High Earth         1
178  Extremely Elliptical Orbit (64.2 degrees incli...         1
179  Salyut 6 orbit (Low Earth (51.6 degrees inclin...         1
180                        Heliocentric (162173 Ryugu)         1
181  Extremely Elliptical Orbit (62.9 degrees incli...         1
182  Extremely Elliptical Orbit (4.9 degrees inclin...         1
183                                Selenocentric (DRO)         1
184                               Selenocentric (NRHO)         1
185                              Selenocentric (Polar)         1
186                       Selenocentric and High Earth         1
187                                Selenocentric orbit         1
188                    Selenocentric, elliptical orbit         1
189             Service: Geosynchronous Now: Graveyard         1
190                                            Sub-GSO         1
191  Extremely Elliptical Orbit (0.7 degrees inclin...         1
192                           Erosian via Heliocentric         1
193   Low Earth (intended) Transatmospheric (achieved)         1
194                       Low Earth (Salyut 7 and Mir)         1
195                             Low Earth (Tiangong 2)         1
196             Intended: Geosynchronous Achieved: GTO         1
197                      LEO, inclination 65.1 degrees         1
198                  Intended: High Earth (elliptical)         1
199                                  Areocentric orbit         1
200  Intended: HEO to Lunar impact Achieved: Helioc...         1
201       Intended: Geosynchronous Attained: Low Earth         1
202      Intended: Geosynchronous Actual: Medium Earth         1
203         Intended: Geosynchronous Actual: Low Earth         1
204               Low Earth (29.9 degrees inclination)         1
205               Low Earth (43.6 degrees inclination)         1
206  Intended: Geosynchronous Actual: High Earth (e...         1
207               Low Earth (54.9 degrees inclination)         1
208        Intended: Geosynchronous Achieved: Transfer         1
209               Low Earth (65.8 degrees inclination)         1
210               Low Earth (65.9 degrees inclination)         1
211               Low Earth (67.2 degrees inclination)         1
212  Intended: Highly elliptical Achieved: Medium E...         1
213                      LEO, inclination 64.8 degrees         1
214                      LEO, inclination 50.6 degrees         1
215                                 Intended:Low Earth         1
216      Intended: Molniya Achieved: Highly elliptical         1
217                           Intended: Lunar transfer         1
218    Intended: Lunar orbit Actual: Lunar free return         1
219  Intended: Lunar landing Actual: Lunar free return         1
220                  Intended: Low Earth (unconfirmed)         1
221      Intended: Subsynchronous Actual: Medium Earth         1
222                               Ionospheric research         1
223                      LEO, inclination 44.6 degrees         1
224                                             Jovian         1
225                     Intended: Low Earth (Salyut 4)         1
226                                 Kronocentric Orbit         1
227                                   LEO (retrograde)         1
228                         LEO Plan: Dock to Salyut 3         1
229                            LEO, docked to Salyut 3         1
230               Low Earth (70.4 degrees inclination)         1
231  Intended: Geostationary transfer Actual: Mediu...         1
232   Heliocentric Then: Ceres orbit Then: Vesta orbit         1
233         Intended: Geostationary Achieved: Transfer         1
234                     Low Earth (Intended: Salyut 6)         1
235                                Low Earth (Kvant-1)         1
236             Initial: Low Earth Final: Medium Earth         1
237          Highly elliptical Selenocentric (planned)         1
238              Highly elliptical Later: Heliocentric         1
239                              Highly elliptical HEO         1
240                                   Low Earth (SSO)]         1
241                                   High Earth Orbit         1
242                                Low Earth (STS/ISS)         1
243                                   High Earth (TLI)         1
244                               Low Earth (Salyut 5)         1
245                     High Earth (High eccentricity)         1
246         Intended: Medium Earth Achieved: Low Earth         1
247                       Heliocentric to Solar escape         1
248                               Low Earth (Soyuz 19)         1
249                     Low Earth (Intended: Salyut 5)         1
250       Initial: Selenocentric Current: Sun–Earth L1         1
251                                           Intelsat         1
252               Low Earth (96.8 degrees inclination)         1
253               Low Earth (74.1 degrees inclination)         1
254  Intended: Geocentric supersynchronous Actual: ...         1
255               Low Earth (81.4 degrees inclination)         1
256               Low Earth (82.5 degrees inclination)         1
257                                      Intended: GTO         1
258                                      Intended: GSO         1
259               Low Earth (97.8 degrees inclination)         1
260                              Intended: Areocentric         1
261               Low Earth (98.5 degrees inclination)         1
262                        Intended: GEO Achieved: LEO         1
263  Intended: Cytherocentric Actual: Heliocentric,...         1
264                                  Low Earth (Buran)         1
265            Intended: Areocentric Actual: Low Earth         1
266       Intended: Areocentric Achieved: Heliocentric         1
267                      LEO, inclination 82.5 degrees         1

In [18]:
df.loc[df['payload_orbit'].fillna('').str.contains('Suborbital'), 'payload_orbit'] = 'Suborbital'
df.loc[df['payload_orbit'].fillna('').str.contains('Sub-orbital'), 'payload_orbit'] = 'Suborbital'
df.loc[df['payload_orbit'].fillna('').str.contains('Medium Earth'), 'payload_orbit'] = 'Medium Earth'
df.loc[df['payload_orbit'].fillna('').str.contains('Low Earth'), 'payload_orbit'] = 'Low Earth'
df.loc[df['payload_orbit'].fillna('').str.contains('Geosynchronous'), 'payload_orbit'] = 'Geosynchronous'
df.loc[df['payload_orbit'].fillna('').str.contains('Geostationary'), 'payload_orbit'] = 'Geostationary'
df.loc[df['payload_orbit'].fillna('').str.contains('Heliocentric'), 'payload_orbit'] = 'Heliocentric'
df.loc[df['payload_orbit'].fillna('').str.contains('Highly elliptical'), 'payload_orbit'] = 'Highly elliptical'
df.loc[df['payload_orbit'].fillna('').str.contains('Selenocentric'), 'payload_orbit'] = 'Selenocentric'
df.loc[df['payload_orbit'].fillna('').str.contains('LEO'), 'payload_orbit'] = 'LEO'
df.loc[df['payload_orbit'].fillna('').str.contains('GTO'), 'payload_orbit'] = 'GTO'

filt = (df['payload_orbit'].fillna('').str.lower().str.contains('lunar') & df['payload_orbit'].fillna('').str.lower().str.contains('free'))
df.loc[filt, 'payload_orbit'] = 'Lunar free-return'

filt = (
    df['payload_orbit'].fillna('').str.lower().str.contains('sun') 
    & df['payload_orbit'].fillna('').str.lower().str.contains('earth')
    & df['payload_orbit'].fillna('').str.lower().str.contains('l1')
)
df.loc[filt, 'payload_orbit'] = 'Sun–Earth L1'

filt = (
    df['payload_orbit'].fillna('').str.lower().str.contains('sun') 
    & df['payload_orbit'].fillna('').str.lower().str.contains('earth')
    & df['payload_orbit'].fillna('').str.lower().str.contains('l2')
)
df.loc[filt, 'payload_orbit'] = 'Sun–Earth L2'

df['payload_orbit'] = (df['payload_orbit'].str.split('\(', expand=True)[0]
                       .str.split(',', expand=True)[0]
                       .str.replace('Intended: ', '', regex=False)
                       .str.replace('Planned: ', '', regex=False)
                       .str.replace(' Orbit', '', regex=False)
                       .str.replace(' orbit', '', regex=False)
                       .str.replace(' Point', '', regex=False)
                       .str.replace(' point', '', regex=False)
                       .str.strip()
                      )

df.loc[df['payload_orbit'].fillna('').str.contains('none'), 'payload_orbit'] = np.nan
df.loc[df['payload_orbit'].fillna('').str.contains('unknown'), 'payload_orbit'] = np.nan
df.loc[df['payload_orbit'].fillna('').str.contains('no'), 'payload_orbit'] = np.nan

df['payload_orbit'] = df['payload_orbit'].fillna('Unknown')
query = df.groupby('payload_orbit')['flight_n'].nunique().sort_values(ascending=False).reset_index()
query

             payload_orbit  flight_n
0               Suborbital      7832
1                Low Earth      3266
2                  Unknown      1092
3             Medium Earth       253
4                  Molniya       154
5            Geostationary        97
6             Heliocentric        90
7        Highly elliptical        57
8                      LEO        38
9               High Earth        31
10             Areocentric        17
11                    IGSO        11
12       Lunar free-return         8
13    Extremely Elliptical         8
14                     GTO         8
15                  Tundra         8
16            Sun–Earth L1         7
17                     SSO         7
18                     GEO         7
19            Sun–Earth L2         6
20          Lunar transfer         6
21  TMI to Martian Surface         3
22        Transatmospheric         3
23                   Lunar         3
24                Salyut 6         3
25    TLI to lunar surface         3
26      TMI to Areocentric         2
27                     HEO         2
28          Cytherocentric         2
29           Earth–Moon L2         2
30               Mercurian         2
31                     GSO         2
32             Jovicentric         2
33           Moon transfer         1
34     Tundra/Quasi-Zenith         1
35  Transatmospheric Earth         1
36                Intelsat         1
37  TMI to Martian surface         1
38                  Jovian         1
39                     TMI         1
40    Extremely elliptical         1
41                     TLI         1
42               Low Lunar         1
43               Cytherean         1
44                     MEO         1
45                 Sub-GSO         1
46   Elliptical High Earth         1
47          Galactocentric         1

In [19]:
def categorize_orbits(df):
    # Define orbit groups
    orbit_groups = {
        'Low Earth Orbits': ['Low Earth', 'LEO', 'SSO'],
        'Medium and High Earth Orbits': ['Medium Earth', 'High Earth', 'MEO', 'HEO'],
        'Geosynchronous and Geostationary Orbits': ['Geostationary', 'GEO', 'GSO', 'IGSO', 'Sub-GSO', 'GTO'],
        'Highly Elliptical Orbits': ['Highly elliptical', 'Extremely Elliptical', 'Extremely elliptical', 
                                     'Elliptical High Earth'],
        'Molniya and Tundra Orbits': ['Molniya', 'Tundra', 'Tundra/Quasi-Zenith'],
        'Miscellaneous Orbits': ['Lunar free-return', 'Salyut 6', 'Transatmospheric', 'Transatmospheric Earth', 
                                 'Galactocentric', 'Intelsat', 'Low Lunar', 'Sun–Earth L1', 'Sun–Earth L2', 'Earth–Moon L2',
                                 'Lunar', 'Areocentric', 'Cytherocentric', 'Mercurian', 'Jovicentric', 'Cytherean', 
                                 'Jovian', 'TLI', 'TMI', 'Lunar transfer', 'Moon transfer', 'TMI to lunar surface', 
                                 'TMI to Martian surface', 'TMI to Areocentric', 'TLI to lunar surface', 
                                 'TMI to Martian Surface'],
        'Suborbital': ['Suborbital']
    }

    # Apply the mappings
    for group, orbits in orbit_groups.items():
        df.loc[df['payload_orbit'].isin(orbits), 'payload_orbit'] = group

    return df['payload_orbit']


# Categorize the payload orbits
df['payload_orbit'] = categorize_orbits(df)

df.groupby('payload_orbit')['flight_n'].nunique().sort_values(ascending=False).reset_index()

                             payload_orbit  flight_n
0                               Suborbital      7832
1                         Low Earth Orbits      3311
2                                  Unknown      1092
3             Medium and High Earth Orbits       287
4                Molniya and Tundra Orbits       163
5  Geosynchronous and Geostationary Orbits       126
6                             Heliocentric        90
7                     Miscellaneous Orbits        77
8                 Highly Elliptical Orbits        67

In [20]:
df.groupby('payload_function')['flight_n'].nunique().sort_values(ascending=False).reset_index().head(300)

                                   payload_function  flight_n
0                                      Missile test      2938
1                                    Communications      1244
2                                          Aeronomy      1144
3                                       Test flight       624
4                                    Reconnaissance       470
5                          Technology demonstration       428
6                                       Ionospheric       346
7                                 Earth observation       342
8                                   Optical imaging       334
9                                        Navigation       292
10                                           Target       230
11                                       Technology       171
12                                            Solar       145
13                                            ELINT       134
14                                    ISS logistics       123
15                                      Film return       121
16                                         REV Test       115
17                                      Meteorology       110
18                                         ABM test       101
19                                        Logistics       101
20                                       ABM target        93
21                                         REV test        88
22                                        Astronomy        83
23                                          Weather        78
24                                    Communication        72
25                              Ionosphere research        69
26                                   Magnetospheric        67
27                                     Microgravity        67
28                            Microgravity research        63
29                                          Auroral        62
30                             Ionospheric research        58
31                                  Plasma research        57
32                                           SIGINT        56
33                                     UV Astronomy        55
34                                   Remote sensing        53
35                                        Education        52
36                                      Flight test        50
37                                        Radiation        48
38                           Ionospheric / Aeronomy        46
39                                  X-ray astronomy        45
40                                Radar calibration        43
41                                  Missile defence        42
42                           Technology development        39
43                                          Geodesy        39
44                                      Calibration        37
45                                          RV test        37
46                                     ISS assembly        37
47                                   Solar research        36
48                             Aeronomy Ionospheric        36
49                                    Amateur radio        36
50                            Ultraviolet astronomy        34
51                                     Lunar lander        33
52                                Ionospheric Solar        31
53                                    Early warning        31
54                                              IoT        30
55                             Satellite deployment        28
56                                      Atmospheric        28
57                           Optical reconnaissance        28
58                           Optical Reconnaissance        27
59                                           Plasma        26
60                                     Nuclear test        25
61                                       Biological        25
62                                Aeronomy research        25
63                                    Lunar orbiter        24
64                                  Test spacecraft        24
65                             Atmospheric research        23
66                                 Cosmic Radiation        23
67                                     Mars orbiter        23
68                                 Solar UV / X-ray        22
69                          Operational test flight        22
70                                         Solar UV        22
71                               Crewed spaceflight        21
72                               Meteorite research        20
73                                 Auroral research        20
74                                Weather satellite        20
75                                     Oceanography        18
76                                     XR astronomy        18
77                         Technology Demonstration        18
78                                    ISS component        17
79                                     Radar target        17
80                                AIS ship tracking        16
81                            Crewed orbital flight        16
82                                         Geospace        15
83                                    Earth imaging        15
84                                Aeronomy / Fields        15
85                          Magnetospheric research        15
86                              Student experiments        14
87                                      Interceptor        14
88                           Magnetosphere research        14
89                                      Mars lander        14
90                                      Test rocket        13
91                        Communications (military)        13
92                                       Ionosphere        13
93                                       Scientific        13
94                                        ASAT test        13
95                               Infrared astronomy        13
96                                    Attack Riyadh        12
97                                     Heliophysics        12
98                                   Lunar impactor        12
99                                 CubeSat deployer        12
100                                     Lunar probe        12
101              Cryogenic mission extension pallet        12
102                                    Venus lander        12
103                                  Missile strike        12
104                             Cosmic ray research        11
105                                     Venus flyby        11
106                         Military communications        11
107                                        Research        11
108                                  Missile launch        11
109                                 Optical imagery        11
110                                   Radar imaging        11
111                       Communications Technology        11
112                                       Space tug        10
113                                     Project T-3        10
114                                    Space burial        10
115                                   Space weather        10
116                              R-7 component test        10
117                              Shuttle-Mir flight        10
118                                    ISS resupply        10
119                                       ICBM test        10
120                                Chemical release        10
121                               Solar observation        10
122                                   Attack Israel         9
123                                     Air density         8
124                                     Boilerplate         8
125           Aeronomy / Auroral / Chemical Release         8
126                                        ABM Test         8
127                                         Imaging         8
128                     Aeronomy / Chemical release         8
129                             Biological research         8
130                           Manned orbital flight         8
131                                 Radio astronomy         8
132                           Navigation Technology         8
133                                             TBA         8
134                             Scientific research         8
135                                          Fields         8
136                                      Mars flyby         8
137                                          Crewed         8
138                                  Docking target         7
139                                     Climatology         7
140                                 Solar astronomy         7
141                            Naval Reconnaissance         7
142                                    Missile Test         7
143                                  Attack Dhahran         7
144                          Technology experiments         7
145                                       SLBM test         7
146                                  Missile target         7
147                                            Test         7
148                                     Lunar flyby         7
149                                  Solar/Aeronomy         7
150                            Technology Radiation         6
151                    Technology/Biological/Target         6
152                   Ionosphere research, Aeronomy         6
153                             Lunar sample return         6
154                                          SIGNIT         6
155                                     Lunar rover         6
156                               Salyut expedition         6
157                                      Classified         6
158                               SIGNIT Technology         6
159                                   Magnetosphere         6
160                                   Sample return         6
161                                 SDO calibration         6
162                        Microgravity experiments         6
163                                   Space station         6
164                            Ionospheric Aeronomy         6
165                                    UV astronomy         6
166                             Gamma-ray astronomy         6
167                             Atmospheric science         6
168                                    IR Astronomy         6
169                     Prototype Soyuz 7K-L1P/Zond         6
170                                 Auroral science         6
171                                  Amateur rocket         6
172                                     Rocket test         6
173                                         Physics         5
174                               Radio occultation         5
175                                 ABM Interceptor         5
176                                 Missile warning         5
177                              Space surveillance         5
178                                         Airglow         5
179                           Missile early warning         5
180                                 Missile defense         5
181                                      Mir module         5
182                                  Aeronomy Solar         5
183                               Laser calibration         5
184                                Student payloads         5
185                                Student research         5
186                                 Electrodynamics         5
187                     Aeronomy / Chemical Release         5
188                                 Space logistics         5
189                                   Thermospheric         5
190                                      ABM Target         5
191                                  Sky Brightness         5
192                                    Resupply Mir         5
193                             Ionospheric Auroral         5
194                                 Aurora research         5
195                                 Micrometeoroids         5
196                                      Mars rover         5
197                                   Laser ranging         4
198        Technology demonstration / Amateur radio         4
199                      Ionospheric Magnetospheric         4
200                                        Geodetic         4
201                                 Weather Imaging         4
202                              Ocean surveillance         4
203                                     ASAT target         4
204                                   Early Warning         4
205                                    XR Astronomy         4
206              Technology demonstration Education         4
207                                Chemical Release         4
208                            REV test Ionospheric         4
209                                 Payload hosting         4
210                                   Environmental         4
211                          Environmental research         4
212                                Engineering test         4
213                                  Target missile         4
214                                ISS escape craft         4
215                           Microgravity Research         4
216                                  Mass simulator         4
217                           Thermosphere research         4
218                             Auroral/Ionospheric         4
219     Auroral Ionospheric Micrometeoroid research         4
220                                      Solar sail         4
221                             Auroral Ionospheric         4
222                           Re-entry vehicle test         4
223                                Station resupply         4
224                            Atmospheric Research         4
225                           Ultraviolet Astronomy         4
226                              Ionospheric Plasma         4
227              Cosmic Radiation / Solar Radiation         4
228                             Hypersonic research         4
229                                   Earth Science         3
230                                   Earth Imaging         3
231                                 Space telescope         3
232                       Earth observation (radar)         3
233                                     Solar probe         3
234                     Flight test / ISS logistics         3
235                                   Space tourism         3
236                          Space domain awareness         3
237                               Space advertising         3
238                                   Space Station         3
239                   Geosynchronous Communications         3
240                          Heat transfer REV test         3
241      Earth observation Technology demonstration         3
242                          Space station assembly         3
243               Solar X-Ray / Solar UV / Aeronomy         3
244                                Student Research         3
245                          Environment monitoring         3
246                          Technology Ionospheric         3
247                                   Earth science         3
248                                      Mars probe         3
249                                 Fields research         3
250                        Ionospheric / Biological         3
251                            Test flight Aeronomy         3
252                                   Radar mapping         3
253                            Radar reconnaissance         3
254                                    Astrophysics         3
255                         Radar target Technology         3
256                                 Radiation ELINT         3
257  Radiation belt particle and fields experiments         3
258                              Radiation research         3
259                             Radio guidance test         3
260    Technology demonstration / Earth observation         3
261                          Thermospheric research         3
262                           Biological Technology         3
263                              Biological science         3
264                 Biology / Ionosphere / Aeronomy         3
265                          Boilerplate spacecraft         3
266                            Mesospheric research         3
267                                    Astrobiology         3
268                 Uncrewed commercial spaceflight         3
269                            Missile Defense Test         3
270                                     Observation         3
271                                 ABM interceptor         3
272                                    AEGIS target         3
273                                     Photography         3
274                               Particle research         3
275                     Aeronomy / Cosmic Radiation         3
276                             Wildfire monitoring         3
277                                Aeronomy Imaging         3
278                             Missile test target         3
279       Nuclear test detection Radiation research         3
280                          Air traffic management         3
281                       Navigation Communications         3
282                              Weapon System Test         3
283                                   Venus orbiter         3
284                                Arrow III target         3
285                              Materials research         3
286                Attack King Khalid Military City         3
287                        Communications satellite         3
288                       Communications Navigation         3
289                            Technology/Radiation         3
290                     Crewed Lunar orbital flight         3
291                                   Lunar Orbiter         3
292                       Communications technology         3
293         Communications Technology demonstration         3
294                            Satellite inspection         3
295                             Satellite intercept         3
296                                      Geophysics         2
297                             Satellite servicing         2
298                              Satellite deployer         2
299              Satellite deployment and retrieval         2

In [21]:
def categorize_payload_functions(df, mapping):
    # Standardize the 'payload_function' to lowercase for uniformity
    df['payload_function'] = df['payload_function'].str.lower().fillna('Unknown')

    # Apply the mappings
    for category, keywords in mapping.items():
        pattern = '|'.join(keywords)  # Create a regex pattern to match any of the keywords
        df.loc[df['payload_function'].str.contains(pattern), 'payload_function'] = category

    # Assign all uncategorized functions to 'Other'
    categories = mapping.keys()
    df.loc[~df['payload_function'].isin(categories), 'payload_function'] = 'Other'

    return df['payload_function']


# Define the mapping dictionary based on our discussion
mapping = {
    'Missile and Defense': ['missile', 'abm', 'rv test', 'attack', 'target', 'interceptor'],
    'Communications': ['communication', 'amateur radio'],
    'Researches and Observations': ['research', 'observation', 'aeronomy', 'ionospheric', 'magnetospheric', 'plasma', 
                                    'ionosphere', 'solar', 'radiation', 'astronomy', 'imaging', 'remote sensing', 
                                    'education',  'microgravity', 'auroral', 'atmospheric', 'biological', 'oceanography', 
                                    'geospace', 'heliophysics', 'atmospheric science', 'air density', 'fields',
                                    'lunar', 'mars', 'venus', 'scientific', 'experiment', 'film return', 'imagery',
                                    'telescope'],
    'Technology': ['technology', 'calibration', 'iot', 'cubesat deployer'],
    'Meteorology': ['meteorology', 'weather', 'early warning', 'climatology'],
    'Tests': ['test', 'boilerplate'],
    'Intelligence and Surveillance': ['reconnaissance', 'elint', 'sigint'],
    'Navigation and Positioning': ['navigation', 'geodesy', 'ais'],
    'Logistics and Operations': ['logistic', 'iss ', ' iss','satellite deployment', 'space station', 'crewed']
}


df['payload_function'] = categorize_payload_functions(df, mapping)

In [22]:
df.groupby('payload_function')['flight_n'].nunique().sort_values(ascending=False).reset_index()

                payload_function  flight_n
0    Researches and Observations      4324
1            Missile and Defense      3661
2                 Communications      1435
3                          Tests      1121
4                          Other       857
5                     Technology       787
6  Intelligence and Surveillance       724
7       Logistics and Operations       378
8     Navigation and Positioning       355
9                    Meteorology       262

In [23]:
df['is_missile'] = 0

df.loc[df['payload_function'] == 'Missile and Defense', 'is_missile'] = 1

rockets = df.groupby('rocket').agg({'flight_n': 'count', 'is_missile': 'sum'}).sort_values('flight_n').reset_index()

rockets['ratio'] = (1.0 * rockets['is_missile'] / rockets['flight_n']).round(2)

rockets = list(rockets.loc[(rockets['ratio'] > 0.3) & (rockets['rocket'] != '-1'), 'rocket'].sort_values())
rockets

['(ARAV-B)',
 '53T6M',
 'A-350R',
 'A-350Zh',
 'AD-1',
 'AGM-183 ARRW',
 'ARAV',
 'ARAV-B',
 'ARAV-B (Terrier-Oriole)',
 'ARAV-C',
 'ARAV-C (Talos-Castor)',
 'ARAV-C++',
 'ARAV-ER',
 'ATACMS',
 'Ababeel',
 'Agni 1',
 'Agni I',
 'Agni II',
 'Agni III',
 'Agni IV',
 'Agni V',
 'Agni-I',
 'Agni-II',
 'Agni-II Plus',
 'Agni-III',
 'Agni-IV',
 'Agni-P',
 'Agni-Prime',
 'Agni-V',
 'Al Hussein',
 'Antares (OPd-56-39-22D)',
 'Aries',
 'Arrow 2 Block-4',
 'Arrow III',
 'Arrow-2',
 'Arrow-3',
 'Atlas LV-3A Agena-A',
 'Atlas SLV-3',
 'Atlas-Agena',
 'B-611',
 'Black Dagger',
 'Black Knight 201',
 'Black Sparrow',
 'Blue Sparrow',
 'Boosted Zombi (ATACMS)',
 'Bulava',
 'CSS-X-11',
 'Castor 4B',
 'Castor 4B (MRT)',
 'Chimera',
 'Chimera (Minuteman/Minotaur II)',
 'DF-11',
 'DF-15',
 'DF-21',
 'DF-31',
 'DF-4',
 'DF-5C',
 'DN-3',
 'Delta III 8930',
 'Dezful/Zolfaghar',
 'Dhanush',
 'Dong Feng 1',
 'Dong Feng 2',
 'Dong Feng 31',
 'ERIS',
 'Economical Target-2',
 'Emad',
 'Emeraude VE121',
 'Fateh-360',
 'GAM-87A Skybolt',
 'GBI-OBV',
 'Ghader',
 'Ghadr-1',
 'Ghadr-110',
 'Ghauri',
 'Ghauri-II',
 'Ghaznavi',
 'Ground Based Interceptor',
 'Ground-Based Interceptor',
 'HGM-25A Titan I',
 'HGM-30A Titan I',
 'HPB',
 'Hera',
 'Honest John-Nike-Gosling',
 'Hwaseong 6',
 'Hwasong',
 'Hwasong-12',
 'Hwasong-12 ()',
 'Hwasong-14',
 'Hwasong-15',
 'Hwasong-15 or Hwasong-17',
 'Hwasong-17',
 'Hwasong-18',
 'Hwasong-6',
 'Hyunmoo 4-4',
 'Hyunmoo-2',
 'Hyunmoo-2B',
 'Hyunmoo-2C',
 'Hyunmoo-4-4',
 'ICBM-T2',
 'IRBM',
 'IRBM-T1',
 'Jericho',
 'Jericho II',
 'Jericho III',
 'Ju Lang 2',
 'Juno',
 'K-15 Sagarika',
 'K-4',
 'KN-',
 'KN-25',
 'Kedr',
 'Khaibar-buster',
 'Khoramshahr-4',
 'Khorramshahr',
 'LCLV',
 'LGM-118 Peacekeeper',
 'LGM-118A Peacekeeper',
 'LGM-25C Titan II',
 'LGM-30A Minuteman IA',
 'LGM-30B Minuteman I',
 'LGM-30B Minuteman IB',
 'LGM-30F Minuteman II',
 'LGM-30G Minuteman III',
 'LRALT',
 'Long Range Air Launch Target',
 'Long-Range Hypersonic Weapon',
 'M4',
 'M45',
 'M51',
 'M51.3',
 'MGM-29 Sergeant',
 'MGM-31 Pershing I',
 'MIM-104 Patriot',
 'MRBM',
 'MRBM T3C2',
 'MRBM T3c2',
 'MRBM-T3',
 'MRBTM',
 'MRT',
 'MRT (Castor 4B)',
 'Malmute II',
 'Minuteman IB',
 'Minuteman II',
 'Minuteman III',
 'Minuteman-II',
 'Molniya-M / 2BL',
 'Molniya-M/2BL',
 'Nike Zeus',
 'Nike Zeus 3',
 'Nike-Nike-Recruit',
 'Nike-Zeus',
 'Nike-Zeus 3',
 'Nudol ()',
 'OPd-56-39-22D (Antares)',
 'Orbital Boost Vehicle',
 'PGM-17 Thor DM-18',
 'PGM-17 Thor DM-18A',
 'PGM-17 Thor DM-18C',
 'PGM-19 Jupiter',
 'PL-19 "Nudol"',
 'PL-19 Nudol',
 'PLV',
 'PTV',
 'Payload Launch Vehicle',
 'Peacekeeper',
 'Polaris (STARS)',
 'Polaris/STARS',
 'Pralay',
 'Prithvi',
 'Prithvi 2',
 'Prithvi II',
 'Prithvi-2',
 'Prithvi-3',
 'Privthvi-2',
 'Pukguksong-2',
 'Qader',
 'R-1',
 'R-11FM Zemlya',
 'R-12',
 'R-12 Dvina',
 'R-13',
 'R-14 Chusovaya',
 'R-14 Usovaya',
 'R-14U Chusovaya',
 'R-16',
 'R-16U',
 'R-17 Elbrus',
 'R-17 Elbrus (B)',
 'R-17 Elbrus (D)',
 'R-17 Scud',
 'R-2',
 'R-21',
 'R-29',
 'R-29 Vysota',
 'R-29R Volna',
 'R-29R Vysota',
 'R-29RM Shtil',
 'R-29RM Sineva (RSM-54)',
 'R-29RMU',
 'R-29RMU Sineva',
 'R-29RMU2.1 Layner',
 'R-2A',
 'R-36',
 'R-36M',
 'R-36M2',
 'R-36M2 Voyevoda',
 'R-36O',
 'R-39',
 'R-5',
 'R-5 Pobeda',
 'R-5A Pobeda',
 'R-5M',
 'R-7',
 'R-7 Semyorka',
 'R-7A Semyorka',
 'R-9 Desna',
 'R-9A Desna',
 'RIM-161 SM-3',
 'RIM-161 Standard Missile 3',
 'RIM-161 Standard Missile 3-IB',
 'RIM-161C SM-3 Block 1A',
 'RIM-161C SM-3 Block 1B',
 'RIM-161C Standard Missile 3 Block 1B',
 'RS-12M Topol',
 'RS-18 UR-100N',
 'RS-18B UR-100NU',
 'RS-24',
 'RS-24 Yars',
 'RS-26 Rubezh',
 'RS-28 Sarmat',
 'RSM-56 Bulava',
 'RSM-56 Bulava (R-30)',
 'RT-1',
 'RT-15',
 'RT-2PM Topol',
 'RT-2PM Topol (RS-12M)',
 'RT-2PU Topol',
 'RT-2UTTH Topol M',
 'RT-2UTTH Topol-M',
 'Rodong-1',
 'S-500',
 'S3',
 'SC-19',
 'SM-2 Block IIIB',
 'SM-3',
 'SM-3 Block 1A',
 'SM-3 Block IA',
 'SM-3 Block IB',
 'SM-3 Block IIA',
 'SM-3-IB',
 'SM-3-IIA',
 'SM-6 Dual II',
 'SM-65A Atlas',
 'SM-65B Atlas',
 'SM-65C Atlas',
 'SM-65D Atlas',
 'SM-65E Atlas',
 'SM-65F Atlas',
 'SM-78 Jupiter',
 'SR-19',
 'SR19-SR19',
 'SRALT',
 'SRBM',
 'STARS',
 'Sabre Zombi (ATACMS)',
 'Sagarika',
 'Sajil',
 'Sejil-2',
 'Sejjil',
 'Sejjil-1',
 'Sejjil-2',
 'Shahab 1',
 'Shahab 2',
 'Shahab 3',
 'Shahab-1',
 'Shahab-2',
 'Shahab-3',
 'Shaheen 1',
 'Shaheen 1-A',
 'Shaheen-I',
 'Shaheen-IA',
 'Shaheen-II',
 'Shaheen-III',
 'Shaurya',
 'Silver Sparrow',
 'Sineva',
 'Sky Bow III',
 'Soyuz (R-7/A-2)',
 'Sparrow',
 'Storm',
 'Storm-2',
 'Strypi IX',
 'Stunner',
 'T4-E',
 'THAAD',
 'TR-SRBM',
 'TRBM',
 'Talos-Castor',
 'Target ballistic missile',
 'Tayfun',
 'Terrier Mk.70-Oriole',
 'Terrier Oriole',
 'Terrier Orion (ARAV-A)',
 'Terrier Terrier Oriole',
 'Terrier- Orion',
 'Terrier-Lynx',
 'Terrier-Oriole',
 'Terrier-Oriole T4-B',
 'Terrier=Orion',
 'Thor DSV-2J',
 'Titan II GLV',
 'Titan IVA (402)/IUS',
 'Titan IVB (402)/IUS',
 'Tochka-U',
 'Topol',
 'Topol M',
 'Topol M2',
 'Topol-ME',
 'Trailblazer 1',
 'Trident C-4',
 'Trident D-5',
 'Tszyuylan-2',
 'UGM-133 Trident II',
 'UGM-133 Trident II (D5)',
 'UGM-133 Trident II D5',
 'UGM-133A Minuteman IA',
 'UGM-27 Polaris (STARS',
 'UGM-27 Polaris (STARS)',
 'UGM-27 Polaris A1',
 'UGM-27 Polaris A2',
 'UGM-27 Polaris A2E',
 'UGM-27 Polaris A3',
 'UGM-27 Polaris AX',
 'UGM-27 Polaris TV',
 'UGM-96 Trident I',
 'UGM-96 Trident I C4 (LV-2)',
 'UR-100',
 'UR-100NU',
 'UR-200',
 'WS-199B Bold Orion I',
 'WS-199B Bold Orion II',
 'XSM-75 Thor',
 'Yars',
 'Zalzal',
 'Zolfaghar',
 'Zombi (ATACMS)',
 'Zulfiqar',
 'eMRBM']

In [24]:
df.loc[df['rocket'].isin(rockets), 'is_missile'] = 1

In [25]:
df.groupby('payload_outcome')['flight_n'].nunique().sort_values(ascending=False).reset_index()

                                       payload_outcome  flight_n
0                                           Successful      9573
1                                          Operational      1980
2                                       Launch failure      1001
3                                   Spacecraft failure       187
4                                              Failure       138
5                           Partial spacecraft failure        77
6                                       Launch Failure        52
7                                      Partial failure        33
8                               Partial launch failure        26
9                                      Partial Failure        22
10                                             Unknown        20
11                                             Success        18
12                                  Spacecraft Failure        13
13                                         Intercepted         7
14                  Partial launch failure Operational         6
15              Partial spacecraft failure Operational         6
16                                  Deployment failure         5
17                                            En route         5
18                           Partial satellite failure         5
19                                   Satellite failure         5
20                                     Landing failure         3
21                                           Destroyed         3
22                Successful launch; intercept failure         2
23                                      Never deployed         2
24                               Satellite malfunction         2
25                              Successful Operational         2
26                                Successful intercept         2
27                                    Launch Precluded         2
28                                    Failure to orbit         2
29                               Failed to reach orbit         2
30                                    Deactivated 2016         2
31                                 Awaiting deployment         2
32               Partial spacecraft failure Successful         2
33              Successful; Partial spacecraft failure         2
34                               Spacecraft failure ()         1
35   Satellite failed while being on the GTO, has b...         1
36                    Rocket destroyed prior to launch         1
37                                           Precluded         1
38                                           Sccessful         1
39                          Payload separation failure         1
40                                     Payload failure         1
41                                Partially Successful         1
42          Spacecraft anomaly, recovered successfully         1
43    Spacecraft damaged; operational status uncertain         1
44              2/3 Operational 1/3 Deployment failure         1
45            Spacecraft failure 30 hours after launch         1
46   Successful; placed in graveyard orbit 24 Septe...         1
47                                         operational         1
48                                 Warhead intercepted         1
49                                             Unclear         1
50                              Transfer stage failure         1
51   Successfully deployed, but no signal was recei...         1
52              Successful; retired in the early 1990s         1
53     Successful; retired from active service in 1999         1
54                     Successful; retired July, 2009.         1
55   Successful; replaced by Kosmos 2208 12 August ...         1
56          Successful; placed in graveyard orbit 2002         1
57                          Spacecraft failure in 2019         1
58   Successful; placed in graveyard orbit 20 June ...         1
59            Successful; later destroyed in ASAT test         1
60                   Successful, destroyed Kosmos-1375         1
61   Successful (spacecraft inadvertently destroyed...         1
62                         Successful (49/60 ThinSats)         1
63              Partial spacecraft failure; Successful         1
64                            Successful (12 deployed)         1
65   Spacecraft has failed 9 February 1979 during a...         1
66                 Spacecraft failure; Partial success         1
67                                     Partial success         1
68                Partial launch failure / Operational         1
69             Partial spacecraft failure; Operational         1
70                             Partial mission failure         1
71                         Landed on Mars; Operational         1
72                                      Landed on Mars         1
73                                Intermittent contact         1
74   Failure to reach orbit after 2nd stage malfunc...         1
75   Failed to reach orbit due control valve malfun...         1
76                                     Failed to orbit         1
77                               En route; Operational         1
78                                     Docking failure         1
79                                       Docked to TSS         1
80                                       Docked to ISS         1
81                           Destroyed prior to launch         1
82                                 Deployement failure         1
83                                      Decommissioned         1
84                          Deactivated September 2009         1
85                       Deactivated December 15, 2011         1
86                              Deactivated April 2009         1
87                             Deactivated 2 June 2017         1
88                        Deactivated 13 February 2018         1
89                                             Aborted         1
90                                     Landing Failure         1
91                              Launch Partial Failure         1
92             Launch success, payload partial failure         1
93                 Operational; partial launch failure         1
94                  Partial launch failure; Successful         1
95                 Partial launch failure; Operational         1
96   Partial launch failure Partial spacecraft fail...         1
97   Partial launch failure Partial spacecraft failure         1
98                    8 successful, 1 failed to deploy         1
99   Partial Spacecraft Failure -- magnetic field i...         1
100                             Partial Launch Failure         1
101                                            Partial         1
102              Operational × 5 Failed deployment × 2         1
103  Launch successful. Satellite exploded 9 Septem...         1
104        Operational in off-nominal but usable orbit         1
105       Operational after partial spacecraft failure         1
106             Operational Partial spacecraft failure         1
107                 Operational Partial launch failure         1
108                                  Operational (6/8)         1
109                                Operational (11/49)         1
110                                  Operational (1/4)         1
111                                    Nominal launch;         1
112                                         successful         1

In [26]:
df['payload_outcome'] = df['payload_outcome'].str.replace(' Failure', ' failure', regex=False)

df.loc[df['payload_outcome'].fillna('').str.lower().str.contains('ccess'), 'payload_outcome'] = 'Successful'
df.loc[df['payload_outcome'].fillna('').str.lower().str.contains('deactivated'), 'payload_outcome'] = 'Successful'
df.loc[df['payload_outcome'].fillna('').str.lower().str.contains('landed'), 'payload_outcome'] = 'Successful'
df.loc[df['payload_outcome'].fillna('').str.lower().str.contains('docked'), 'payload_outcome'] = 'Successful'
df.loc[df['payload_outcome'].fillna('').str.lower().str.contains('en route'), 'payload_outcome'] = 'Successful'
df.loc[df['payload_outcome'].fillna('').str.lower().str.contains('operational'), 'payload_outcome'] = 'Operational'
df.loc[df['payload_outcome'].fillna('').str.lower().str.lower().str.contains('unclear'), 'payload_outcome'] = 'Unknown'
df.loc[df['payload_outcome'].fillna('').str.lower().str.lower().str.contains('destroyed'), 'payload_outcome'] = 'Failure'
df.loc[df['payload_outcome'].fillna('').str.lower().str.contains('malfunction'), 'payload_outcome'] = 'Failure'
df.loc[df['payload_outcome'].fillna('').str.lower().str.contains('fail'), 'payload_outcome'] = 'Failure'
df.loc[df['payload_outcome'].fillna('').str.lower().str.contains('intercepted'), 'payload_outcome'] = 'Failure'

possible_values = ['Successful', 'Operational', 'Failure', 'Unknown']
df.loc[~df['payload_outcome'].isin(possible_values), 'payload_outcome'] = 'Unknown'

df.groupby('payload_outcome')['flight_n'].nunique().sort_values(ascending=False).reset_index()

  payload_outcome  flight_n
0      Successful      9627
1     Operational      2001
2         Failure      1587
3         Unknown       131

In [27]:
df['payload_outcome_n'] = 0

df.loc[df['payload_outcome'].isin(['Successful', 'Operational']), 'payload_outcome_n'] = 2
df.loc[df['payload_outcome'] == 'Failure', 'payload_outcome_n'] = 1


df.groupby('payload_outcome_n')['flight_n'].nunique().sort_values(ascending=False).reset_index()

   payload_outcome_n  flight_n
0                  2     11407
1                  1      1587
2                  0       131

In [28]:
rocket_columns = ['flight_n', 'launch_datetime', 'rocket', 'rocket_state', 'rocket_state_grouped', 'flight_number', 'launch_site', 'launch_site_state', 
                  'lsp', 'lsp_state']


payload_function = df[df['payload_function'].notnull()].groupby('flight_n')['payload_function'].agg(lambda x: pd.Series.mode(x)[0])
payload_orbit = df[df['payload_orbit'].notnull()].groupby('flight_n')['payload_orbit'].agg(lambda x: pd.Series.mode(x)[0])

boolen_fields = df.groupby('flight_n').agg({'is_luna': 'min', 'is_missile': 'max', 'payload_outcome_n': 'max'})

rockets_df = df[rocket_columns].drop_duplicates().set_index('flight_n')

rockets_df = pd.concat([rockets_df, payload_function, payload_orbit, boolen_fields], axis=1, join='outer').reset_index()

rockets_df['payload_outcome'] = 'Unknown'

rockets_df.loc[rockets_df['payload_outcome_n'] == 1, 'payload_outcome'] = 'Failure'
rockets_df.loc[rockets_df['payload_outcome_n'] == 2, 'payload_outcome'] = 'Successful'

rockets_df.drop('payload_outcome_n', axis=1, inplace=True)

rockets_df.head()

   flight_n      launch_datetime            rocket   rocket_state rocket_state_grouped flight_number        launch_site launch_site_state           lsp      lsp_state             payload_function payload_orbit  is_luna  is_missile payload_outcome
0         1  1952-01-30 20:45:00  Aerobee RTV-A-1a  United States        United States       USAF 21      Holloman LC-A     United States  US Air Force  United States  Researches and Observations    Suborbital        0           0         Failure
1         2  1952-02-19 14:49:00  Aerobee RTV-A-1c  United States        United States       USAF 22      Holloman LC-A     United States  US Air Force  United States                        Other    Suborbital        0           0         Failure
2         3  1952-02-19 17:00:00  Aerobee RTV-N-10  United States        United States         NRL 7  White Sands LC-35     United States       US Navy  United States  Researches and Observations    Suborbital        0           0      Successful
3         4  1952-02-29 14:40:00   Aerobee RTV-A-1  United States        United States       USAF 23      Holloman LC-A     United States  US Air Force  United States                        Other    Suborbital        0           0      Successful
4         5  1952-04-22 17:28:00   Aerobee RTV-A-1  United States        United States       USAF 24      Holloman LC-A     United States  US Air Force  United States  Researches and Observations    Suborbital        0           0      Successful

In [29]:
rockets_df[rockets_df['flight_n'].duplicated()]

Empty DataFrame
Columns: [flight_n, launch_datetime, rocket, rocket_state, rocket_state_grouped, flight_number, launch_site, launch_site_state, lsp, lsp_state, payload_function, payload_orbit, is_luna, is_missile, payload_outcome]
Index: []

In [30]:
rockets_df.to_csv('space_launces_final.csv', index=False)